:$PORT
root * /usr/share/caddy
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}


@websocket_ray_vmess {
header Connection *Upgrade*
header Upgrade    websocket
path /f/
}
reverse_proxy @websocket_ray_vmess unix//etc/caddy/vmess
